@model Intelligent_Retail2.Models.AdminUser

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>AdminUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="AdminUserName" class="control-label"></label>
                <input asp-for="AdminUserName" class="form-control" />
                <span asp-validation-for="AdminUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminPassword" class="control-label"></label>
                <input asp-for="AdminPassword" class="form-control" />
                <span asp-validation-for="AdminPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminUserNumber" class="control-label"></label>
                <input asp-for="AdminUserNumber" class="form-control" />
                <span asp-validation-for="AdminUserNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminUserPhone" class="control-label"></label>
                <input asp-for="AdminUserPhone" class="form-control" />
                <span asp-validation-for="AdminUserPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminUserEmail" class="control-label"></label>
                <input asp-for="AdminUserEmail" class="form-control" />
                <span asp-validation-for="AdminUserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminUserRole" class="control-label"></label>
                <input asp-for="AdminUserRole" class="form-control" />
                <span asp-validation-for="AdminUserRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
