@model Intelligent_Retail2.Models.User

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserNickName" class="control-label"></label>
                <input asp-for="UserNickName" class="form-control" />
                <span asp-validation-for="UserNickName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserOpenID" class="control-label"></label>
                <input asp-for="UserOpenID" class="form-control" />
                <span asp-validation-for="UserOpenID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserPhone" class="control-label"></label>
                <input asp-for="UserPhone" class="form-control" />
                <span asp-validation-for="UserPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserGender" class="control-label"></label>
                <input asp-for="UserGender" class="form-control" />
                <span asp-validation-for="UserGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
